// ------------------------------------------------------------
// Site footer
//
// The very bottom of the site. Usually contains supporting
// or secondary navigation, social media icons, contact details
// and such.
//
// Please note: These are mostly for demo purposes
// so feel free to remove everything in this file
// and start over.
// ------------------------------------------------------------

.site-footer {
  padding: 20px;
  background: $color-darkgrey;
  color: #fff;
  overflow: hidden;
  .wrapper {
    @include grid(4);

    @media (max-width: $container-ipad) {
      @include grid(2);
    
      .col {
        margin: 40px 0;
      }
    }

    @media (max-width: $container-mobile) {
      display: block;
    }



    .col {
      .logo {
        opacity: 1;

        a {
          &:hover:after {
            width: 0;
          }
        }
      }
      h4 {
        opacity: .5;
        color: #FFF;
        margin-bottom: 0;
      }

      p {
        margin: 20px 0;
        line-height: 32px;
        font-size: 16px;
      }

      ul {
        padding: 0;
        list-style: none;
      }
      li {
        padding: 0;
        line-height: 36px;
      }

      a {
        color: #FFF;
        text-decoration: none;

        &:after {
            content: ""; /* This is necessary for the pseudo element to work. */ 
            display: block; /* This will put the pseudo element on its own line. */
            width: 0%; /* Change this to whatever width you want to have before hover. */
            border-bottom: 2px solid #FFF; /* This creates the border. Replace black with whatever color you want. */
            transition: .3s; /* This establishes the amount of time in seconds the animation should take from start to finish */
        }

        &:hover:after {
            width: 15%; /* This will be the new width of your border when on hover */
        }
      }
    }
  }
}
