// ------------------------------------------------------------
// Site footer
//
// The very bottom of the site. Usually contains supporting
// or secondary navigation, social media icons, contact details
// and such.
//
// Please note: These are mostly for demo purposes
// so feel free to remove everything in this file
// and start over.
// ------------------------------------------------------------

.site-footer {
	padding: 0;
	background: $color-darkgrey;
	color: #fff;
	overflow: hidden;

	@media (min-width: $container-ipad) {
		.container {
			padding-top: 6rem;
		}
	}

	.wrapper {
		@include grid(4);

		@media (max-width: $container-ipad) {
			@include grid(2);

			.col {
				margin: 40px 0;
			}
		}

		@media (max-width: $container-mobile) {
			display: block;
		}

		.col {
			.logo {
				opacity: 1;
			}
			h4 {
				opacity: .5;
				color: #fff;
				margin-bottom: 0;
			}

			p {
				margin: 20px 0;
				line-height: 32px;
				font-size: 16px;
			}

			ul {
				padding: 0;
				list-style: none;
			}
			li {
				padding: 0;
				line-height: 36px;
			}

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.copyright-wrapper {
		border-top: 1px solid rgba(255, 255, 255, 0.1);

		.copyright {
			@extend .container;
			padding-top: 3rem;
			margin-top: 0rem;
			padding-bottom: 3rem;
			margin-bottom: 0rem;
			display: flex;
			justify-content: space-between;

			p {
				opacity: 0.6;
				font-size: 1.4rem;
			}
		}
	}
}
