// ------------------------------------------------------------
// Site footer
//
// The very bottom of the site. Usually contains supporting
// or secondary navigation, social media icons, contact details
// and such.
//
// Please note: These are mostly for demo purposes
// so feel free to remove everything in this file
// and start over.
// ------------------------------------------------------------

.site-footer {
  padding: 20px;
  background: $color-darkgrey;
  color: #fff;
  overflow: hidden;

  .wrapper {
    @include grid(4);

    @media (max-width: $container-ipad) {
      @include grid(2);
    
      .col {
        margin: 40px 0;
      }
    }

    @media (max-width: $container-mobile) {
      display: block;
    }

    .col {
      h4 {
        opacity: .5;
        color: #FFF;
      }

      p {
        line-height: 32px;
      }

      ul {
        padding: 0;
        list-style: none;
      }
      li {
        padding: 0;
        line-height: 36px;
      }

      a {
        color: #FFF;
        text-decoration: none;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
