// ------------------------------------------------
// Page
//
// All the other pages of the site, without any
// particular layout.
// ------------------------------------------------
section {
	padding: 60px 0;
}

.block.block-page {
	@media (min-width: $container-mobile) {
		min-height: 300px;
	}
}

.block.block-work,
.block.block-hero {
	@extend .entry-header;
}

.block.block-hero {
	min-height: 60vh;
	height: 60vh;
}

.ref-content {
	@include grid(2);
	grid-template-columns: 1fr 2fr;

	@media (max-width: $container-mobile) {
		display: block;
	}

	@media (min-width: $container-mobile) {
		h2 {
			margin: 0;
		}
	}

	.category {
		opacity: .5;
		font-size: 20px;
		line-height: $line-height;
	}
}

.large-images {
	padding: 60px 0;

	.large-image {
		margin: 40px 0;
	}
}

.service {
	padding: 0 0 120px 0;
	@include grid(2);
	grid-template-columns: 58.3% 41.6%;

	@media (max-width: $container-ipad) {
		padding: 0 0 100px 0;
	}

	@media (max-width: $container-mobile) {
		padding: 0 0 60px 0;
	}

	img {
		max-width: 100%;
	}

	@media (max-width: $container-ipad) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: $container-ipad - 150) {
		display: flex;
	}

	&:nth-child(even) {
		grid-template-columns: 41.6% 58.3%;
	}

	p,
	li {
		color: #555555;
	}

	li {
		list-style-type: circle;
		line-height: 2;
	}

	.service--content:nth-child(even) {
		margin: 0 110px;

		@media (max-width: 1200px) {
			margin: 0 0 0 60px;
		}

		@media (max-width: $container-ipad - 150) {
			margin: 20px 60px 0 0px;
		}
	}

	.service--content:nth-child(odd) {
		margin: 0 110px 0 0;

		@media (max-width: 1200px) {
			margin: 0 60px 0 0px;
		}
		@media (max-width: $container-ipad - 150) {
			margin: 20px 60px 0 0px;
		}
	}

	@media (max-width: $container-ipad) {
		&:nth-child(even) {
			flex-direction: column;
		}

		&:nth-child(odd) {
			flex-direction: column-reverse;
		}
	}
}

#get-in-touch {
	a {
		color: $color-darkgrey;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.ref-content {
		@media (max-width: $container-mobile) {
			display: block;

			&--heading {
				padding: 20px 0;
			}
		}
	}
}

#people {
	background: #f9f9f9;

	a {
		color: $color-darkgrey;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	.people-content {
		margin-top: 50px;
		@include grid(2);

		@media (max-width: $container-mobile) {
			display: block;
		}
	}

	.people-content--heading {
		display: flex;
		align-items: center;

		@media (max-width: $container-ipad) {
			display: block;
		}

		p {
			margin: 0;
		}
	}

	.info {
		margin: 20px 0;

		@media (max-width: $container-mobile) {
			margin-bottom: 40px;
		}
	}

	.circle {
		overflow: hidden;
		height: 100px;
		width: 100px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		margin: 0 25px 0 0;

		img {
			margin: 0 auto;
			height: 100%;
		}
	}
}

#contact-info {
	.icons a {
		margin: 0 7px 0 0;
	}

	.map-content {
		@include grid(2);

		@media (max-width: $container-mobile + 150) {
			display: block;

			.map-content--info {
				margin-bottom: 60px;
			}
		}
	}
}
